div[class="container"] {
    width: 800px;
    text-align: left;
    box-shadow: 3px 3px 8px 5px lightgrey;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Happy Monkey';
}
/* --------------------------------------------------------- */
p, li {
    color: #707070;
}
/* --------------------------------------------------------- */
header {
    text-align: center;
}
/* --------------------------------------------------------- */
h1 {
    color: #DB0038;
}
/* --------------------------------------------------------- */
h2 {
    color: #3998A3;
}
/* --------------------------------------------------------- */
h3 {
    color: #474747;
}
/* --------------------------------------------------------- */
.hero {
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 10px;
}
/* --------------------------------------------------------- */
li {
    padding-bottom: 5px;
    padding-top: 5px;
}
/* --------------------------------------------------------- */
.rating {
    text-align: center;
}
.rating span {
    color: #F4B400;
    font-size: 25px;
}   
/* --------------------------------------------------------- */
footer {
    text-align: center;
}
/* --------------------------------------------------------- */
a:link {
    color: #2338b3;
    text-decoration: none;
}
a:visited {
    color: #058f11;
    text-decoration: none;
}
a:hover {
    color: #15bfdd;
    text-decoration: none;
}
a:active {
    color: #B300B3;
    text-decoration: none;
}
/* --------------------------------------------------------- */
